.main-section {
    padding: 4rem 0;
    background-color: white;
  }
  
  .main-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .product-grid {
    display: grid; /* Use flexbox for horizontal alignment */
    grid-template-columns: repeat(3 , 1fr) ; /* Space between items */
    align-items: center; 
    flex-wrap: nowrap;
     /* Prevent wrapping to maintain a single line */
    padding: 0 2rem; /* Padding for the container */
    overflow-x: auto; /* Allow horizontal scrolling if needed */
  }
  
  .product {
    text-align: center;
    margin: 1rem 1rem; /* Margin between products */
  }
  
  .product img {
    width: 150px; /* Set a fixed width for images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 6px;
  }
  
  .product h3 {
    margin: 1rem 0;
  }
  
  .product button {
    background-color: black;
    color: white;
    margin-top: 9px;
    padding: 10px 15px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: small;
    font-weight: 600;
  }
  
  .product button:hover {
    background-color: orange;
    transition-duration: 0.3s;
    transform: scale(1.1);
  }
  